# Gradle
.gradle/
build/
.gradle

# Local configuration (sdk path)
local.properties

# Android Studio
captures/
.externalNativeBuild/
.cxx/
.idea/

# Files
*.iml
*.apk
*.log
*.hprof
*.jks
*.keystore
.DS_Store

# Build outputs
output.json

# Google Services
google-services.json
